* {
    margin: 0px;
    --yugo-color: #015853;
    --tristepin-color: #6C1205;
    --evangelyne-color: #1D005A;
    --ruel-color: #978239;
    --amalia-color: #00670A;
    --adamai-color: #023C80;
    --default-background-color: #FCE4C0;
}

body {
    background-image: url("./assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial;
}

/* yugo utils */

.yugo {
    border: 8px solid var(--yugo-color);
}

.yugo-background {
    background: linear-gradient(180deg, #0BABA2 0%, var(--yugo-color) 100%);
}

.yugo-background-color {
    background-color: var(--yugo-color);
}

.yugo-text-color {
    color: var(--yugo-color);
}

/* tristepin utils */

.tristepin {
    border: 8px solid var(--tristepin-color);
}

.tristepin-background {
    background: linear-gradient(180deg, #D45D38 0%, var(--tristepin-color) 100%);
}

.tristepin-background-color {
    background-color: var(--tristepin-color);
}

.tristepin-text-color {
    color: var(--tristepin-color);
}

/* evangelyne utils */

.evangelyne {
    border: 8px solid var(--evangelyne-color);
}

.evangelyne-background {
    background: linear-gradient(180deg, #6E2F9F 0%, var(--evangelyne-color) 100%);
}

.evangelyne-background-color {
    background-color: var(--evangelyne-color);
}

.evangelyne-text-color {
    color: var(--evangelyne-color);
}

/* ruel utils */

.ruel {
    border: 8px solid var(--ruel-color);
}

.ruel-background {
    background: linear-gradient(180deg, #D4C538 0%, var(--ruel-color) 100%);
}

.ruel-background-color {
    background-color: var(--ruel-color);
}

.ruel-text-color {
    color: var(--ruel-color);
}

/* amalia utils */

.amalia {
    border: 8px solid var(--amalia-color);
}

.amalia-background {
    background: linear-gradient(180deg, #4ED438 0%, var(--amalia-color) 100%);
}

.amalia-background-color {
    background-color: var(--amalia-color);
}

.amalia-text-color {
    color: var(--amalia-color);
}

/* adamai utils */

.adamai {
    border: 8px solid var(--adamai-color);
}

.adamai-background {
    background: linear-gradient(180deg, #417FC8 0%, var(--adamai-color) 100%);
}

.adamai-background-color {
    background-color: var(--adamai-color);
}

.adamai-text-color {
    color: var(--adamai-color);
}

/* top bar */

nav {
    height: 50px;
    background-color: rgba(81, 81, 81, 0.33);
}

nav > p {
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #94F3F3;
    filter: blur(1px);
}

/* confrérie */

#confrerie {
    display: flex;
    flex-direction: column;
}

.row {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.perso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 150px;
    height: 215px;
    background-color: var(--default-background-color);
    box-shadow: 0px 4px 22px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.title {
    position: relative;
    top: -7px;
    width: 200px;
    height: 40px;
    background-color: var(--default-background-color);
    box-shadow: 0px 4px 22px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card > img {
    width: 150px;
    height: 215px;
}

/* section personnage */

#sectionPersonnage {
    display: flex;
    flex-direction: column;
}

#sectionTitlePerso {
    margin-top: 75px;
    height: 40px;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 40px;
    font-size: 25px;
}

.section {
    padding: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.personnage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerOutline {
    width: 180px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerPerso {
    width: 164px;
    height: 294px;
    background-color: var(--default-background-color);
    display: flex;
    flex-direction: column;
}

.bannerPerso > p {
    text-align: center;
    font-size: 25px;
}

.bannerPerso > img {
    width: 164px;
}

.shape {
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.descriptionPerso {
    width: 650px;
    height: 150px;
    font-size: 18px;
    line-height: 21px;
    background-color: var(--default-background-color);
    border-radius: 10px;
}

.logo-metier {
    filter: contrast(var(--yugo-color), 100%);
}
